@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans&display=swap");
.nav {
  position: relative;
  background: #635985;
  height: 60px;
  display: grid;
  grid-template-columns: 150px auto;
  justify-content: space-between;
  border-bottom: 1px solid #574e74;
}
.nav__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.nav__element {
  min-width: 150px;
  height: 100%;
}
.nav__link {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  transition: background 0.3s;
}
.nav__link:hover {
  background: #574e74;
}

.search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  margin: 0;
  height: 35px;
  padding: 6px 10px 6px 10px;
  background: #443C68;
  align-self: center;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto 32px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.search__button {
  border: none;
  background: none;
  cursor: pointer;
  color: #fff;
  padding: 0;
}
.search__input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  padding: 0;
  font-size: 1.2rem;
}
.search:focus-within {
  outline: 1px solid #fff;
}

.footer {
  font-family: "Open Sans", sans-serif;
  border-top: 1px solid #574e74;
  box-sizing: border-box;
  background: #635985;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #18122B;
}
.footer__link {
  color: #fff;
}

html, body {
  height: 100%;
  margin: 0;
}

svg {
  fill: currentColor;
}

.main {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: calc(100vh - 111px);
  background: #443C68;
}
.main__title {
  color: #18122B;
  font-family: "Noto Serif", serif;
  font-size: 2.4rem;
  margin: 10px 0 20px 0;
}
.main a {
  color: #fff;
}

.results-section {
  width: 600px;
}

.definition {
  max-width: 450px;
  grid-template-columns: 40px 410px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "avatar nick" "avatar bubble" ". date";
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: grid;
  margin: 15px 0;
  font-family: "Open Sans", sans-serif;
}
.definition__bubble {
  width: 100%;
  grid-area: bubble;
  border-radius: 10px;
  border-top-left-radius: 0;
  background: #635985;
  box-sizing: border-box;
  padding: 10px 15px;
}
.definition__title {
  margin: 0;
  font-family: "Noto Serif", serif;
  font-size: 2rem;
}
.definition__avatar {
  border-radius: 50%;
  top: 0;
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.definition__avatar-container {
  height: -moz-fit-content;
  height: fit-content;
  grid-area: avatar;
}
.definition__date {
  grid-area: date;
  color: #b0b0b0;
}
.definition__name {
  color: #fff;
  grid-area: nick;
  text-decoration-color: transparent;
  font-size: 1.2rem;
}
.definition__name:hover {
  text-decoration-color: #fff;
}
.definition__avatar-container:hover + .definition__name {
  text-decoration: underline;
}
.definition__description {
  color: #18122B;
  margin: 10px 0;
  font-family: "Noto Serif", serif;
}
.definition__thumb {
  text-decoration: none;
}
.definition__opinion {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.definition__ratio {
  color: #fff;
}

.definition--right.definition {
  margin-left: auto;
  margin-right: 0;
  grid-template-columns: 410px 40px;
  grid-template-rows: auto 1fr;
  grid-template-areas: "nick avatar" "bubble avatar";
}
.definition--right.definition .definition__bubble {
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
}
.definition--right.definition .definition__name {
  text-decoration: none;
  text-align: right;
}

.form {
  margin: 0;
}
.form__input, .form__textarea {
  box-sizing: border-box;
  margin: 5px 0 10px 0;
  padding: 10px;
  border-radius: 10px;
  background: #443C68;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  height: -moz-fit-content;
  height: fit-content;
  resize: none;
  overflow-wrap: break-word;
  color: #fff;
  cursor: text;
  font-size: 1.2rem;
  max-height: 200px;
}
.form__button {
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  padding: 10px 15px;
  margin-right: 0;
  display: block;
  margin-left: auto;
  height: 50px;
  background: #393053;
  border: none;
  border-radius: 50px;
}
.form__label {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  color: #18122B;
}/*# sourceMappingURL=results.css.map */